@charset "utf-8";
/* CSS Document */

* {
    padding: 0px;
    margin: 0px;
}
html {
    font: 100%/1.95 'Nunito Sans';
}
body {
    font-weight: 400;
    font-size: 16px;
    font-kerning: normal;
    font-feature-settingss: "kern", "liga", "clig", "calt";
}
.wrapper {
    width: 100%;
}
footer {
    margin: 5rem 0 0;
    text-align: center;
}
footer .ko-fi {
    background: url('https://uploads-ssl.webflow.com/5c14e387dab576fe667689cf/5ca5bf1dff3c03fbf7cc9b3c_Kofi_logo_RGB_rounded-p-500.png');
    background-size: contain;
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: -.1em;
}
a {
    color: #631547;
}
p {
    margin: 0.9em 0 0;
}
h1 {
    font: 3rem/1.4 'Dancing Script', cursive;
    font-weight: 700;
}
h2 {
    color: black;
    text-align: center;
    margin: 25px 0;
    font: 1.8rem/1.4 'Dancing Script', cursive;
    font-weight: 700;
}
h2 em {
    text-decoration: underline;
    font-style: normal;
    border-bottom: 1px solid;
}
h4 {
    font-weight: 600;
    font-size: 1.4em;
}
h5, .me h2.blurb {
    font-weight: 500;
    font-size: 2rem;
}
h6 {
    text-align: center;
    font-size: 1.5rem;
    margin: 25px 0;
    font-height: 1.4;
    font-weight: 700;
}
section {
    color: #515151;
    margin: 5rem 0;
}

ul, ol {
    margin-left: 50px;
    margin-right: 50px;
}

#content {
    padding: 0px 2rem;
}

.contact {
    width: 500px;
    margin: auto;
    text-align: center;
}

.contact i.fa-brands {
    font-size: 3em;
    padding: 0.5em 0.25em;
}

.contact i.fas {
    font-size: 3em;
    padding: 0.5em 0.25em;
}

.contact i.kofi::after {
      content: '\f004';
      font-weight: 900;
      font-size: 0.4em;
      color: #FFFFFF;
      position: absolute;
      margin: 1.2em 0 0 -2.04em;
}

.before {
    margin-top: 0px;
}

.me {
    background: url('https://worthwelle.com/img/sandiego-blur.jpg');
    background-position: top;
    background-size: cover;
    overflow: hidden;
    padding: 2rem 2rem;
    height: 20.5rem;
}

.title {
    background: url('https://worthwelle.com/img/sandiego-blur.jpg');
    background-position: top;
    background-size: cover;
    text-align: right;
    padding: 2rem 2rem 0;
    margin-bottom: 2rem;
}

.title h1 {
    padding-top: 2rem;
}

.name:before {
    content: "👋";
    padding-right: 1.5rem;
}

.blurb {
    font-size: 1.8rem;
    padding: 2rem 0;
    color: #515151;
    max-width: 540px;
    font-weight: 300;
    line-height:1.4;
}

.return {
    position: absolute;
    float: left;
    top: 0.8rem;
    left: 2rem;
    
    text-decoration: none;
    border-bottom: 3px solid #631547;
    background-color: transparent;
}

div#toc {
    margin: auto;
    width: fit-content;
}

.job {
    border-radius: 10px;
    border: 1px solid #C0C0C0;
    padding: 2.5rem;
    margin: 2rem 0;
}
.job h4 {
    color:#000;
}
.employer {
    display: block;
}
.helping {
    column-count: 2;
}
.helping li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

img.list {
    padding-top: 3rem;
}

.skills, .principles, .education {
    padding: 0 2.5rem;
    margin: 5rem 0 0 0;
}

article ul {
    margin: 0.9em 0 0;
    padding-left: 2em;
}

hr {
    width: 80%;
    margin: 1.2em auto;
    border-top: 1px solid #ccc;
}

blockquote:has(> pre) {
    margin-left: 0;
    border: 0;
    padding-left: 0;
}

blockquote {
    margin-left: 15px;
    border-left: 3px solid purple;
    padding-left: 5px;
}

code {
    white-space: pre-wrap;
    padding: 1px 5px;
    background-color: #ffddf257;
    border-radius: ;
}

pre code {
    background-color: transparent;
    display: block;
}

pre:has(> code) {
    background-color: #ffddf257;
}

/* iPad */
@media screen and (min-width:45rem) {
    .employer {
        display: inline;
    }
    .me {
        height: 15rem;
        padding: 2rem 5rem 0;
        border-bottom-left-radius: 100% -100px;
        border-bottom-right-radius: 100% 100px;
    }
    .title {
        height: 15rem;
        padding: 0px 5rem;
        border-bottom-left-radius: 100% -100px ;
        border-bottom-right-radius: 100% 100px;
    }
}

/* desktop */
@media screen and (min-width:65rem) {
    #content {
        padding: 0px 10rem;
    }
    .employer {
        display: block;
    }
    .flex {
        display: flex;
    }

    .flex section, .flex section h5 {
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .me {
        padding: 2rem 20rem 0;
        border-bottom-left-radius: 100% -100px;
        border-bottom-right-radius: 100% 100px;
    }
    .title {
        padding: 0px 20rem;
        border-bottom-left-radius: 100% -100px;
        border-bottom-right-radius: 100% 100px;
    }
    .return {
        left: 10rem;
    }
    
    .job, .skills, .principles, .education {
        min-width: 20%;
        max-width: 30%;
        padding-right: 3rem;
        margin-right: 2rem;
    }
    
    .job {
        flex-grow: 1;
        flex-basis: 0;
    }

    .skills, .principles, .education {
        margin: 0px;
        flex-grow: 1;
        flex-basis: 0;
    }
    
    .skills ul, .principles ul, .education ul, .skills ol, .principles ol, .education ol {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.superuser:before {
    background-image: url('https://cdn.sstatic.net/Sites/superuser/img/apple-touch-icon.png?v=0ad5b7a83e49');
    background-size: 15px 15px;
    display: inline-block;
    width: 15px; 
    height: 15px;
    content:"";
}
.stackoverflow:before {
    background-image: url('https://cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon.png?v=c78bd457575a');
    background-size: 15px 15px;
    display: inline-block;
    width: 15px; 
    height: 15px;
    content:"";
}

.previous-next-post-links {
    clear: both;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.previous-next-post-links div {
    width: 48%;
}

.previous-next-post-links div:last-child {
    text-align: right;
}

.previous-next-post-links .arrow::before, .previous-next-post-links .arrow::after {
    display:inline-block;
    text-decoration: none;
}

.previous-next-post-links .arrow__left::before {
    content: "\2190";
    padding-right: .3em;
}

.previous-next-post-links .arrow__right::after {
    content: "\2192";
    padding-left: .3em;
}

.nav-label {
    text-align: center;
    font-weight: bold;
}
