{{ define "main" }}
<div class="title">
	<a href="{{ relURL "/" }}" class="return">&larr; Return</a>
	<h1>{{ .Title }}</h1>
	{{ if and (not .IsSection) (eq .Section "series") }}
	<div><b>A <a href="{{ relURL "/" }}series.html">series</a>.</b></div>
	{{end}}
</div>
<div id="content" class="container">
	{{ .Content }}
	<ul class="post-list">
	{{ range .Pages }}
		<li>
			<h3>
				{{ if .Params.draft }}Draft:{{ end }}
				<a class="post-link{{ if .Params.draft }} draft-link{{ end }}" href="{{ .RelPermalink }}">
					{{ .Title }}
				</a>
			</h3>
			<div class="post-meta">{{ .Date | time.Format ":date_long" }}</div>
				{{ .Summary }}
		</li>
	{{ end }}
	</ul>
</div>
{{ end }}
