
	<div class="previous-next-post-links">
		<div>
{{- if .Prev -}}
			<a class="arrow arrow__left" href="{{ .Prev.RelPermalink }}">{{ .Prev.Title | truncate 70 }}</a>
{{- end -}}
		</div>
		<div class="nav-label"><a href="{{ relURL "/" }}posts.html">All Posts</a></div>
		<div>
{{- if .Next -}}
				<a class="arrow arrow__right" href="{{ .Next.RelPermalink }}">{{ .Next.Title | truncate 70 }}</a>
{{- end -}}
		</div>
	</div>

	{{- $series := index $.Params.series 0 -}}
	{{- $posts := slice }}
	{{- range $catname, $catpages := $.Site.Taxonomies.series -}}
		{{ if eq ($catname | urlize) ($series | urlize) }}
			{{- range $page := $catpages -}}
				{{ $posts = $posts | append $page.Page }}
			{{- end -}}
		{{end}}
	{{- end -}}
	{{- $prev := (index (where $posts.ByDate.Reverse ".Date.Unix" "lt" $.Page.Date.Unix) 0) -}}
	{{- $next := (index (where $posts.ByDate ".Date.Unix" "gt" $.Page.Date.Unix) 0) }}
	<div class="previous-next-post-links">
		<div>{{- with $prev }}<a class="arrow arrow__left" href="{{ $prev.RelPermalink }}">{{ $prev.Title | truncate 70 }}</a>{{- end }}</div>
        {{ range first 1 .Params.series }}<div class="nav-label"><a href="{{ relURL "/" }}series.html">Series</a>: <a href="{{ (site.GetPage .).Path }}.html">{{ (site.GetPage .).Title }}</a></b></div>{{ end }}
		<div>{{ with $next }}<a class="arrow arrow__right" href="{{ $next.RelPermalink }}">{{ $next.Title | truncate 70 }}</a>{{ end }}</div>
	</div>
