
	<div class="previous-next-post-links">
		<div>
{{- if .PrevPage -}}
			<a class="arrow arrow__left" href="{{ .PrevPage.RelPermalink }}">{{ .PrevPage.Title }}</a>
{{- end -}}
		</div>
		<div class="nav-label"><a href="{{ relURL "/" }}posts.html">All Posts</a></div>
		<div>
{{- if .NextPage -}}
				<a class="arrow arrow__right" href="{{ .NextPage.RelPermalink }}">{{ .NextPage.Title }}</a>
{{- end -}}
		</div>
	</div>

	{{- $series := index $.Params.series 0 -}}
	{{- range $catname, $catpages := $.Site.Taxonomies.series -}}{{ if eq $catname ($series | urlize) }}{{ $.Scratch.Set "neighbors" $catpages.Pages }}{{end}}{{- end -}}
	{{- $neighbors := $.Scratch.Get "neighbors" -}}
	{{- if $neighbors -}}
		{{- $.Scratch.Set "prev" "" }}{{ $.Scratch.Set "next" "" }}
		{{- range $neighbors.ByDate }}{{ if gt $.Date.Unix .Date.Unix }}{{ $.Scratch.Set "prev" . }}{{ end }}{{ end }}
		{{- range $neighbors.ByDate.Reverse }}{{ if lt $.Date.Unix .Date.Unix }}{{ $.Scratch.Set "next" . }}{{ end }}{{ end }}
	{{- end -}}
	{{- $prev := $.Scratch.Get "prev" -}}
	{{- $next := $.Scratch.Get "next" }}
	<div class="previous-next-post-links">
		<div>
			{{- with $prev }}
			<a class="arrow arrow__left" href="{{ $prev.RelPermalink }}">{{ $prev.Title | truncate 50 }}</a>
			{{- end }}
		</div>
		<div class="nav-label"><a href="{{ relURL "/" }}series/{{ $series | urlize }}.html">{{$series}}</a> (<a href="{{ relURL "/" }}series.html">All Series</a>)</div>
			{{ with $next }}
		<div>
			<a class="arrow arrow__right" href="{{ $next.RelPermalink }}">{{ $next.Title }}</a>
		</div>
			{{ else }}<div></div>{{ end }}
	</div>
