{{ define "head" }}
{{ with .Params.cover_image }}<meta property="og:image" content="{{ . }}" />{{ end }}
{{ with .Params.post_url }}<meta property="og:url" content="{{ . }}" />{{ end }}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
{{ with .Params.description }}<meta property="og:description" content="{{ . }}" />{{ end }}
{{ end }}

{{ define "main" }}
		<div class="title">
			<a href="{{ relURL "/" }}" class="return">&larr; Return</a>
			<h1>{{ .Title }}</h1>
			{{ if .Params.series }}
			<div><b>Part of the <a href="{{ relURL "/" }}series/{{ (index .Params.series 0 | urlize) }}.html">{{ index .Params.series 0 }}</a> series</b></div>
			{{ end }}
		</div>
		<div id="content" class="container">
			<article>
			{{ range $notice := .Params.notices }}
			<div class="post_notice">⚠️ {{ $notice | safeHTML }}</div>
			{{ end }}
			{{ .Content }}

			{{ if .Params.show_toc }}
			<script>createTOC()</script>
			{{ end }}
			{{ if .Params.comments }}
			<hr>
			<div class="commentbox"></div>
			<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
			<script>commentBox('5717237973385216-proj')</script>
			{{ end }}
			</article>
		</div>
{{ end }}